.card {
  font-size: 21px;
  border: solid lightcoral;
  padding: 25px;
}

.card > img {
  border-radius: 12%;
  max-width: 75%;
  height: auto;

}

.grid {
  display: grid;
  align-items: stretch;
}
